@media (min-width: 1281px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 50px 50px;
  }

  .projectCardbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    gap: 90px;
    justify-content: center;
    padding: 50px 50px;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .projectCard:nth-child(even) {
    margin-bottom: -650px;
    margin-top: 300px;
  }

  .projectCard:last-child {
    margin-bottom: 100px;
  }
  .projectImage {
    height: 580px;
    width: 100%;
    object-fit: fill;
  }

  .projectHeading {
    font-size: 24px;
    font-weight: bolder;
  }
  .projectCategory {
    font-size: 20px;
  }

  .projectYear {
    font-size: 20px;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }

  .projectDetails {
    display: flex;
    justify-content: space-between;
  }

  .boxing {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 50px 50px;
  }

  .projectCardbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    gap: 90px;
    justify-content: center;
    padding: 50px 50px;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .projectCard:nth-child(even) {
    margin-bottom: -650px;
    margin-top: 300px;
  }

  .projectCard:last-child {
    margin-bottom: 100px;
  }
  .projectImage {
    height: 550px;
    width: 100%;
    object-fit: fill;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }

  .projectDetails {
    display: flex;
    justify-content: space-between;
  }
  .projectHeading {
    font-size: 24px;
    font-weight: bolder;
  }
  .projectCategory {
    font-size: 20px;
  }

  .projectYear {
    font-size: 20px;
  }

  .boxing {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 50px 50px;
  }

  .projectCardbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    gap: 90px;
    justify-content: center;
    padding: 50px 50px;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .projectCard:nth-child(even) {
    margin-bottom: -650px;
    margin-top: 200px;
  }

  .projectCard:last-child {
    margin-bottom: 100px;
  }
  .projectImage {
    height: 400px;
    width: 100%;
    object-fit: fill;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }

  .projectDetails {
    display: flex;
    justify-content: space-between;
  }

  .boxing {
    border-bottom: 1px solid black;
  }

  .projectHeading {
    font-size: 18px;
    font-weight: bolder;
  }
  .projectCategory {
    font-size: 16px;
  }

  .projectYear {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 35px 35px;
  }

  .projectCardbox {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    gap: 120px;
    justify-content: center;
    padding: 40px 40px;
  }

  .projectCard:last-child {
    margin-bottom: 70px;
  }
  .projectImage {
    height: 500px;
    width: 100%;
    object-fit: fill;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }

  .projectDetails {
    display: flex;
    justify-content: space-between;
  }

  .boxing {
    border-bottom: 1px solid black;
  }

  .projectHeading {
    font-size: 20px;
    font-weight: bolder;
  }
  .projectCategory {
    font-size: 16px;
  }

  .projectYear {
    font-size: 16px;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 15px 15px;
  }

  .projectCardbox {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    gap: 80px;
    justify-content: center;
    padding: 25px 25px;
  }

  .projectCard:last-child {
    margin-bottom: 60px;
  }
  .projectImage {
    height: 250px;
    width: 100%;
    object-fit: contain;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 3px;
  }

  .projectDetails {
    display: flex;
    justify-content: space-between;
  }

  .boxing {
    border-bottom: 1px solid black;
  }

  .projectHeading {
    font-size: 14px;
    font-weight: bolder;
  }
  .projectCategory {
    font-size: 12px;
  }

  .projectYear {
    font-size: 12px;
  }
}
