.projectImage {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.projectDetails {
  display: flex;
  justify-content: space-between;
}

.boxing {
  border-bottom: 1px solid black;
}
