.aboutContainer {
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.aboutWhat {
  flex: 1;
}

.aboutWhatDoing {
  flex: 3;
}

.aboutWhatContent {
  font-size: 18px;
  text-align: justify;
}

.aboutOpt {
  display: flex;
  flex-direction: row;
  gap: 300px;
}

.aboutOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.aboutOptionheading {
  padding: 20px 20px;
  margin-bottom: 20px;
}

.aboutOptionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aboutOptionListing {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.aboutWhatWeDoContent {
  flex: 3;
}

.aboutContents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.aboutContentNames {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.workProcessContents {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: space-around;
  row-gap: 70px;
}

.workProcessContentBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ourSkillContents {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ourskillContent {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-evenly;
}

.skillList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
