@media (min-width: 1281px) {
  .whitestrokeTitle {
    text-align: center;
    font-size: 120px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .blackstrokeTitle {
    text-align: center;
    font-size: 120px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .whitestrokeTitle {
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .blackstrokeTitle {
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .whitestrokeTitle {
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .blackstrokeTitle {
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .whitestrokeTitle {
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .blackstrokeTitle {
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .whitestrokeTitle {
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .blackstrokeTitle {
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
