@media (min-width: 1281px) {
  .sliderBox {
    overflow: hidden;
    position: relative;
  }

  .overflow {
    overflow: hidden;
  }

  .sectionPosition {
    position: relative;
  }

  .sliderImage {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 650px;
    z-index: -30;
    filter: blur(2px);
  }

  .sliderImagetextPosition {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .sliderImagetext {
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
  }
  .mainSlider {
    background: #eca;
  }

  .sliderImageButtonpos {
    position: absolute;
    top: 450px;
    padding-left: 80px;
    left: 0;
    display: flex;
    align-items: center;
  }

  .sliderImageButton {
    padding: 12px 18px;
    background: transparent;
    color: var(--white);
    font-size: 20px;
    outline: none;
    background-color: var(--buttonColor);
    border: none;
    offset: none;
    align-items: center;
  }

  .sliderImageButton:hover {
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .sliderBox {
    overflow: hidden;
    position: relative;
  }

  .overflow {
    overflow: hidden;
  }

  .sectionPosition {
    position: relative;
  }

  .sliderImage {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
    z-index: -4;
    filter: blur(2px);
  }

  .sliderImagetextPosition {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .sliderImagetext {
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
  }
  .mainSlider {
    background: #eca;
  }

  .sliderImageButtonpos {
    position: absolute;
    top: 380px;
    padding-left: 80px;
    left: 0;
    display: flex;
    align-items: center;
  }

  .sliderImageButton {
    padding: 12px 14px;
    background: transparent;
    color: var(--white);
    font-size: 20px;
    outline: none;
    background-color: var(--buttonColor);
    border: none;
    offset: none;
    outline: none;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sliderBox {
    overflow: hidden;
    position: relative;
  }

  .overflow {
    overflow: hidden;
  }

  .sectionPosition {
    position: relative;
  }

  .sliderImage {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
    z-index: -4;
    filter: blur(2px);
  }

  .sliderImagetextPosition {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .sliderImagetext {
    color: var(--white);
    font-size: 30px;
    font-weight: bolder;
  }
  .mainSlider {
    background: #eca;
  }

  .sliderImageButtonpos {
    position: absolute;
    top: 340px;
    padding-left: 80px;
    left: 0;
    display: flex;
    align-items: center;
  }

  .sliderImageButton {
    padding: 12px 14px;
    background: transparent;
    color: var(--white);
    font-size: 18px;
    outline: none;
    background-color: var(--buttonColor);
    border: none;
    offset: none;
    align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .sliderBox {
    overflow: hidden;
    position: relative;
  }

  .overflow {
    overflow: hidden;
  }

  .sectionPosition {
    position: relative;
  }

  .sliderImage {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
    z-index: -4;
    filter: blur(2px);
  }

  .sliderImagetextPosition {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .sliderImagetext {
    color: var(--white);
    font-size: 30px;
    font-weight: bolder;
  }
  .mainSlider {
    background: #eca;
  }

  .sliderImageButtonpos {
    position: absolute;
    top: 340px;
    padding-left: 40px;
    left: 0;
  }

  .sliderImageButton {
    padding: 12px 14px;
    background: transparent;
    color: var(--white);
    font-size: 18px;
    outline: none;
    background-color: var(--buttonColor);
    border: none;
    offset: none;
    align-items: center;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .sliderBox {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overflow {
    overflow: hidden;
  }

  .sectionPosition {
    position: relative;
  }

  .sliderImage {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
    z-index: -4;
    filter: blur(2px);
  }

  .sliderImagetextPosition {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .sliderImagetext {
    color: var(--white);
    font-size: 26px;
    font-weight: bolder;
  }
  .mainSlider {
    background: #eca;
  }

  .sliderImageButtonpos {
    position: absolute;
    top: 350px;
    padding-left: 20px;
    left: 0;
    display: flex;
    align-items: center;
  }

  .sliderImageButton {
    padding: 12px 14px;
    background: transparent;
    color: var(--white);
    font-size: 18px;
    outline: none;
    background-color: var(--buttonColor);
    border: none;
    offset: none;
    align-items: center;
  }
}
