@media (min-width: 1281px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 100px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }

  .singlepagesidebarnavlink {
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 100px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 100px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 100px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}
