@media (min-width: 1281px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 60px;
    width: 60px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--backgroundblack);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
  }

  .singlepagesidebarnavlink {
    font-size: 45px;
    color: white;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 45px;
    width: 45px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--backgroundblack);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
  }

  .singlepagesidebarnavlink {
    font-size: 45px;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 45px;
    width: 45px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--backgroundblack);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -30px;
    padding: 40px 40px;
  }

  .singlepagesidebarnavlink {
    font-size: 34px;
    color: white;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--backgroundblack);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: -30px;
    padding: 40px 20px;
  }

  .singlepagesidebarnavlink {
    font-size: 22px;
    color: white;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .singlepageNavbar {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 45;
    align-items: center;
    justify-content: space-between;
  }

  .singlepageNavbarlogo {
    height: 20px;
    width: 100%;
    object-fit: cover;
  }

  .singlepageNavbaropen {
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
  }

  .singlepageSidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--backgroundblack);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .singlepagesidebarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .singlepagesidebarnavlinks {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: -30px;
    padding: 20px 20px;
  }

  .singlepagesidebarnavlink {
    font-size: 30px;
    color: white;
  }
}
