@media (min-width: 1281px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px 50px;
    background-color: var(--backgroundblack);
    border-top: 2px solid white;
    /* margin-top: 60px; */
  }

  .footerTextContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .footerTextbox {
    display: flex;
    flex: 2;
  }

  .footerText {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    color: white;
  }

  .footerNavlinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .footerNavlink {
    font-size: 18px;
    color: lightgray;
    color: var(--white);
  }

  .footerContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .footerContactbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerContactemail {
    color: var(--white);
    font-size: 22px;
  }

  .emailText {
    color: var(--white);
    font-size: 22px;
  }

  .contactText {
    color: var(--white);
    font-size: 20px;
  }

  .emailDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footerSocialtext {
    color: var(--white);
    font-size: 22px;
  }

  .copyrightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyrightText {
    color: var(--white);
    font-size: 20px;
  }

  .scrollUpicon {
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px 20px;
    background-color: var(--backgroundblack);
    border-top: 2px solid white;
  }

  .footerTextContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .footerTextbox {
    display: flex;
    flex: 2;
  }

  .footerText {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    color: white;
  }

  .footerNavlinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .footerNavlink {
    font-size: 14px;
    color: lightgray;
    color: var(--white);
  }

  .footerContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .footerContactbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerContactemail {
    color: var(--white);
    font-size: 18px;
  }

  .emailText {
    color: var(--white);
    font-size: 14px;
  }

  .contactText {
    color: var(--white);
    font-size: 14px;
  }

  .emailDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footerSocialtext {
    color: var(--white);
    font-size: 14px;
  }

  .copyrightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyrightText {
    color: var(--white);
    font-size: 14px;
  }

  .scrollUpicon {
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px 20px;
    background-color: var(--backgroundblack);
    border-top: 2px solid white;
  }

  .footerTextContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .footerTextbox {
    display: flex;
    flex: 2;
  }

  .footerText {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    color: white;
  }

  .footerNavlinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .footerNavlink {
    font-size: 14px;
    color: lightgray;
    color: var(--white);
  }

  .footerContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .footerContactbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerContactemail {
    color: var(--white);
    font-size: 18px;
  }

  .emailText {
    color: var(--white);
    font-size: 14px;
  }

  .contactText {
    color: var(--white);
    font-size: 14px;
  }

  .emailDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footerSocialtext {
    color: var(--white);
    font-size: 14px;
  }

  .copyrightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyrightText {
    color: var(--white);
    font-size: 14px;
  }

  .scrollUpicon {
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px 20px;
    background-color: var(--backgroundblack);
    border-top: 2px solid white;
  }

  .footerTextContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .footerTextbox {
    display: flex;
    flex: 2;
  }

  .footerText {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 28px;
    color: white;
  }

  .footerNavlinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .footerNavlink {
    font-size: 10px;
    color: lightgray;
    color: var(--white);
  }

  .footerContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .footerContactbox {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .footerContactemail {
    color: var(--white);
    font-size: 14px;
  }

  .emailText {
    color: var(--white);
    font-size: 10px;
  }

  .contactText {
    color: var(--white);
    font-size: 9px;
  }

  .emailDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footerSocialtext {
    color: var(--white);
    font-size: 10px;
  }

  .copyrightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyrightText {
    color: var(--white);
    font-size: 10px;
  }

  .scrollUpicon {
    height: 35px;
    width: 35px;
    color: white;
    cursor: pointer;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px 20px;
    background-color: var(--backgroundblack);
    border-top: 2px solid white;
  }

  .footerTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footerTextbox {
    display: flex;
    flex: 2;
  }

  .footerText {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .footerNavlinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .footerNavlink {
    font-size: 10px;
    color: lightgray;
    color: var(--white);
  }

  .footerContact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .footerContactbox {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .footerContactemail {
    color: var(--white);
    font-size: 12px;
  }

  .emailText {
    color: var(--white);
    font-size: 9px;
  }

  .contactText {
    color: var(--white);
    font-size: 9px;
  }

  .emailDetails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .footerSocialtext {
    color: var(--white);
    font-size: 10px;
  }

  .copyrightBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyrightText {
    color: var(--white);
    font-size: 10px;
  }

  .scrollUpicon {
    display: none;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
