@media (min-width: 1281px) {
  .singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--backgroundblack);
  }

  .singleProjectcover {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .singleProjectimageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    right: 0;
    left: 0;
  }

  .singleProjecttitle {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 100;
    font-weight: bolder;
  }

  .singleProjectcategory {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 100;
  }

  .singleProjectContent {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .singleProjectInfobox {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .singleProjectInfo {
    flex: 1;
  }

  .singleProjectInfotext {
    font-size: 30px;
    color: var(--white);
    font-weight: bolder;
  }
  .singleProjectInfoarticle {
    font-size: 20px;
    color: var(--white);
  }

  .singleProjectArticlebox {
    flex: 2;
  }

  .singleProjectAcheives {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 40px;
    justify-content: center;
    row-gap: 10px;
  }

  .projectContentIcon {
    /* color: var(--buttonColor); */
    height: 50px;
    width: 100%;
  }

  .projectGridtype {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: var(--buttonColor); */
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--backgroundblack);
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  }

  .projectGridlist {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center;
    gap: 100px; */
    gap: 10px;
    align-items: center;
  }

  .projectGridname {
    font-size: 14px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    /* padding: 3px 3px;
    background-color: white;
    border: 1px solid orangered; */
  }

  .projectGriddata {
    font-size: 14px;
    font-weight: bolder;
    color: white;
  }
  .singleProjectAcheiveTitle {
    font-size: 20px;
    color: var(--white);
  }

  .singleProjectInfotitle {
    font-size: 30px;
    color: var(--white);
    font-weight: bolder;
  }

  .singleProjectArticle {
    font-size: 24px;
    color: var(--white);
    text-align: justify;
  }
  .singleProjectAcheiveTitlelist {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectImages {
    height: 800px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .popupcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--backgroundblack);
  }

  .singleProjectcover {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .singleProjectimageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    right: 0;
    left: 0;
  }

  .singleProjecttitle {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 100;
    font-weight: bolder;
  }

  .singleProjectcategory {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 100;
  }

  .singleProjectContent {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .singleProjectInfobox {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .singleProjectInfo {
    flex: 1;
  }

  .singleProjectInfotext {
    font-size: 30px;
    color: var(--white);
    font-weight: bolder;
  }
  .singleProjectInfoarticle {
    font-size: 20px;
    color: var(--white);
  }

  .singleProjectArticlebox {
    flex: 2;
  }

  .singleProjectAcheives {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 40px;
    justify-content: center;
    row-gap: 10px;
  }

  .projectContentIcon {
    /* color: var(--buttonColor); */
    height: 50px;
    width: 100%;
  }

  .projectGridtype {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: var(--buttonColor); */
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--backgroundblack);
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  }

  .projectGridlist {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center;
    gap: 100px; */
    gap: 10px;
    align-items: center;
  }

  .projectGridname {
    font-size: 12px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    /* padding: 3px 3px;
    background-color: white;
    border: 1px solid orangered; */
  }

  .projectGriddata {
    font-size: 14px;
    font-weight: bolder;
    color: white;
  }
  .singleProjectAcheiveTitle {
    font-size: 20px;
    color: var(--white);
  }

  .singleProjectInfotitle {
    font-size: 30px;
    color: var(--white);
    font-weight: bolder;
  }

  .singleProjectArticle {
    font-size: 24px;
    color: var(--white);
    text-align: justify;
  }
  .singleProjectAcheiveTitlelist {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectImages {
    height: 800px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .popupcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--backgroundblack);
  }

  .singleProjectcover {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .singleProjectimageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    right: 0;
    left: 0;
  }

  .singleProjecttitle {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 100;
    font-weight: bolder;
  }

  .singleProjectcategory {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 100;
  }

  .singleProjectContent {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .singleProjectInfobox {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .singleProjectInfo {
    flex: 1;
  }

  .singleProjectInfotext {
    font-size: 20px;
    color: var(--white);
    font-weight: bolder;
  }
  .singleProjectInfoarticle {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectArticlebox {
    flex: 2;
  }

  .singleProjectAcheives {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    /* justify-content: center; */
    row-gap: 10px;
  }

  .projectContentIcon {
    /* color: var(--buttonColor); */
    height: 40px;
    width: 100%;
  }

  .projectGridtype {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--backgroundblack);
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  }

  .projectGridlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .projectGridname {
    font-size: 11px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    /* padding: 3px 3px;
    background-color: white;
    border: 1px solid orangered; */
  }

  .projectGriddata {
    font-size: 11px;
    font-weight: bolder;
    color: white;
  }
  .singleProjectAcheiveTitle {
    font-size: 17px;
    color: var(--white);
  }

  .singleProjectInfotitle {
    font-size: 30px;
    color: var(--white);
    font-weight: bolder;
  }

  .singleProjectArticle {
    font-size: 24px;
    color: var(--white);
    text-align: justify;
  }
  .singleProjectAcheiveTitlelist {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectImages {
    height: 800px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .popupcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--backgroundblack);
  }

  .singleProjectcover {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .singleProjectimageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    right: 0;
    left: 0;
  }

  .singleProjecttitle {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 100;
    font-weight: bolder;
  }

  .singleProjectcategory {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 100;
  }

  .singleProjectContent {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .singleProjectInfobox {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .singleProjectInfo {
    flex: 1;
  }

  .singleProjectInfotext {
    font-size: 20px;
    color: var(--white);
    font-weight: bolder;
  }
  .singleProjectInfoarticle {
    font-size: 13px;
    color: var(--white);
  }

  .singleProjectArticlebox {
    flex: 2;
  }

  .singleProjectAcheives {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 40px;
  }

  .projectContentIcon {
    /* color: var(--buttonColor); */
    height: 40px;
    width: 100%;
  }

  .projectGridtype {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--backgroundblack);
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  }

  .projectGridlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .projectGridname {
    font-size: 10px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    /* padding: 3px 3px;
    background-color: white;
    border: 1px solid orangered; */
  }

  .projectGriddata {
    font-size: 10px;
    font-weight: bolder;
    color: white;
  }
  .singleProjectAcheiveTitle {
    font-size: 18px;
    color: var(--white);
  }

  .singleProjectInfotitle {
    font-size: 16px;
    color: var(--white);
    font-weight: bolder;
  }

  .singleProjectArticle {
    font-size: 16px;
    color: var(--white);
    text-align: justify;
  }
  .singleProjectAcheiveTitlelist {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectImages {
    height: 800px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .popupcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}

@media (min-width: 250px) and (max-width: 480px) {
  .singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--backgroundblack);
  }

  .singleProjectcover {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .singleProjectimageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    right: 0;
    left: 0;
  }

  .singleProjecttitle {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 100;
    font-weight: bolder;
  }

  .singleProjectcategory {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 100;
  }

  .singleProjectContent {
    padding: 35px 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .singleProjectInfobox {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .singleProjectInfo {
    flex: 1;
  }

  .singleProjectInfotext {
    font-size: 15px;
    color: var(--white);
    font-weight: bolder;
  }
  .singleProjectInfoarticle {
    font-size: 12px;
    color: var(--white);
  }

  .singleProjectArticlebox {
    flex: 2;
  }

  .singleProjectAcheives {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    justify-content: center;
  }

  .projectContentIcon {
    /* color: var(--buttonColor); */
    height: 30px;
    width: 100%;
  }

  .projectGridtype {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    background-color: var(--backgroundblack);
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  }

  .projectGridlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .projectGridname {
    font-size: 7.5px;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
  }

  .projectGriddata {
    font-size: 7.5px;
    font-weight: bolder;
    color: white;
  }
  .singleProjectAcheiveTitle {
    font-size: 12px;
    color: var(--white);
  }

  .singleProjectInfotitle {
    font-size: 16px;
    color: var(--white);
    font-weight: bolder;
  }

  .singleProjectArticle {
    font-size: 16px;
    color: var(--white);
    text-align: justify;
  }
  .singleProjectAcheiveTitlelist {
    font-size: 16px;
    color: var(--white);
  }

  .singleProjectImages {
    height: 800px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .popupcontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}
