:root {
  --white: #ffffff;
  --backgroundblack: #111517;
  --textColor: #ffffff;
  --buttonColor: #fd5524;
  --contrastColor: #2c2c2c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background: var(--backgroundblack); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

html {
  line-height: 1.6;
}

.border-top {
  border-top: 1px solid white;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.navigationLinks {
  text-decoration: none;
  color: black;
}

.no-disc {
  list-style: none;
}

.bg-light {
  background-color: white;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.centerContent {
  margin: 0 auto;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 250px) and (max-width: 480px) {
}
